:root {
    --color-primary: rgb(5, 75, 129);
    --color-primary-light: rgb(116, 185, 255);
    --color-secondary: rgb(202, 204, 101);
    --color-secondary-light: #f9fd05;
    --font-color: #dceffe;
    --font-color-2: #0d1566;
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media only screen and (min-width: 112.5em) {

    html {
        font-size: 75%;
    }

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--color-primary);
    background-image: url('/resources/img/code_2.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    position: relative;
}

.front {
    padding: 2.5rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to Bottom Right, rgba(116, 185, 255, 0.2) 80%, rgba(116, 185, 255, 0.9)), url("/resources/img/code_1.jpg");
    background-size: cover;
    
}

.front .btn__contact {
    font-size: 1.8rem;
    color: violet;
    text-decoration: none;
    padding: .25rem 1.5rem;
    /* border: .2rem solid violet; */
    text-shadow: 0 0 7px violet, 0 0 18px violet, 0 0 30px violet;
    box-shadow: 0 0 4px violet, 0 0 12px violet, 0 0 22px violet;
    border-radius: 5rem;

    position: absolute;
    top: 2rem;
    right: 2rem;

    transform: scale(.9);
    transition: transform .4s;

    z-index: 200;
    background-color: var(--color-primary);
}

.front .btn__contact:hover {
    transform: scale(1);
}

.front-title {
    color: var(--font-color);
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    transform: skewY(350deg);
    text-shadow: 0 0 10px var(--color-primary-light), 0 0 40px var(--color-primary-light), 0 0 80px var(--color-primary-light);
}

.front-body {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--font-color);
    text-align: center;
    
    text-shadow: 0 0 10px var(--color-primary-light), 0 0 40px var(--color-primary-light), 0 0 80px var(--color-primary-light);
    text-shadow: 0 0 7px var(--color-secondary-light), 0 0 18px var(--color-secondary-light), 0 0 30px var(--color-secondary-light);
    border-radius: 1rem;
    
}

@media only screen and (max-width: 37.5em) {
    .front .btn__contact {
        right: unset;
        left: 2rem;
    }
}

.main {
    padding: 2.5rem;
    margin: 2rem;
    background-color: rgba(116, 185, 255, 0.5);
    border-radius: .5rem;
    
}

.main-header {
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    width: 80%;
    
}

.main-header > h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--font-color);
    text-align: center;
    /* border-bottom: .1rem solid var(--color-secondary-light); */
    text-shadow: 0 0 10px var(--color-primary-light), 0 0 40px var(--color-primary-light), 0 0 80px var(--color-primary-light);
    background-color: var(--color-primary);
    border-radius: .5rem;
    padding: 1rem;
} 

@media only screen and (max-width: 37.5em) {
    .main-header {
        width: 100%;
        padding: 0;
    }
}

.card {
    color: var(--font-color-2);
    margin-bottom: 6rem;
    background-color: rgba(202, 204, 101, .9);

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-body {
    flex: 0 1 50%;

}

.card-body a {
    display: grid;
    place-items: center start;

}

.card-body img {
    /* height: 20rem;
    width: auto; */
    width: 80%;

    margin: 2rem;
    box-shadow: 21px 21px 40px -10px rgba(0,0,0,0.75);

    transform: scale(.9);
    transition: transform .4s;

}

.card-body img:hover {
    transform: scale(1);
}


.card-footer {
    flex: 0 1 50%;
    padding: 2rem;
}

.card-footer h4 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.card-footer p:first-of-type {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 56.25em) {

    html {
        font-size: 50%;
    }

}

@media only screen and (max-width: 37.5em) {
    .card {
        flex-direction: column;
    }

    .card-body img {
        margin: 2rem auto;
        transform: scale(1);
        transition: none;
    }
}

.contact {
    padding: 2.5rem;
    margin: 2rem;
    background-color: rgba(202, 204, 101, .9);
    border-radius: .5rem;
}

.contact p {
    color: var(--font-color);
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.contact h3 {
    color: var(--font-color);
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 0 0 20px var(--color-primary), 0 0 60px var(--color-primary), 0 0 120px var(--color-primary);
    margin: 4rem 2rem;
    transform: skewY(350deg);
    letter-spacing: .5rem;
}

.contact a {
    color: var(--font-color);
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--color-primary), 0 0 30px var(--color-primary), 0 0 50px var(--color-primary);

    display: flex;
    align-items: center;
    justify-content: start;

    transform: scale(.9);
    transition: transform .4s;
    
}

.contact a:hover {
    transform: scale(1);
    text-shadow: 0 0 10px var(--color-primary), 0 0 20px var(--color-primary), 0 0 50px var(--color-primary), 0 0 90px var(--color-primary);
}

.footer {
    width: 100%;
    height: 2rem;
    background-color: #cacc65;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.footer span {
    font-size: 1.2rem;
}

.footer span:first-of-type {
    margin-right: .5rem;
}

/* HELPER CLASSES */

.center {
    height: 100%;
    display: grid;
    place-items: center;
}

.line {
    border: .1rem solid var(--font-color);
}

i {
    font-size: 3rem;
    margin-right: 1rem;
}