:root {
    --color-primary: rgb(5, 75, 129);
    --color-primary-light: rgb(116, 185, 255);
    --color-secondary: #cacc65;
    --color-secondary-light: #f9fd05;
    --font-color: #dceffe;
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--color-primary);
    position: relative;
}

.container {
}

.front {
    padding: 2.5rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to Bottom Right, rgba(116, 185, 255, 0.2) 80%, rgba(116, 185, 255, 0.9)), url("/resources/img/code_1.jpg");
    background-size: cover;
    
}

.front .btn__contact {
    font-size: 1.8rem;
    color: violet;
    text-decoration: none;
    padding: .25rem 1.5rem;
    /* border: .2rem solid violet; */
    text-shadow: 0 0 7px violet, 0 0 18px violet, 0 0 30px violet;
    box-shadow: 0 0 4px violet, 0 0 12px violet, 0 0 22px violet;
    border-radius: 5rem;

    position: absolute;
    top: 2rem;
    right: 2rem;

    transform: scale(.9);
    transition: transform .4s;
}

.front .btn__contact:hover {
    transform: scale(1);
}

.front-title {
    color: var(--font-color);
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    transform: skewY(350deg);
    text-shadow: 0 0 10px var(--color-primary-light), 0 0 40px var(--color-primary-light), 0 0 80px var(--color-primary-light);
}

.front-body {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--font-color);
    text-align: center;
    
    text-shadow: 0 0 10px var(--color-primary-light), 0 0 40px var(--color-primary-light), 0 0 80px var(--color-primary-light);
    text-shadow: 0 0 7px var(--color-secondary-light), 0 0 18px var(--color-secondary-light), 0 0 30px var(--color-secondary-light);
    border-radius: 1rem;
    
}

.main {
    padding: 2.5rem;
    margin: 2rem 2rem 0 2rem;
    
}

.main-header {
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    width: 70%;
    
}

.main-header > h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--font-color);
    text-align: center;
    border-bottom: .1rem solid var(--color-secondary-light);
} 

.card {
    margin-bottom: 6rem;
    background-color: var(--color-secondary);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-body {
    flex: 0 1 50%;

}

.card-body a {
    display: grid;
    place-items: center start;

}

.card-body img {
    height: 20rem;
    width: auto;
    margin: 2rem;
    box-shadow: 21px 21px 40px -10px rgba(0,0,0,0.75);

    transform: scale(.9);
    transition: transform .4s;

}

.card-body img:hover {
    transform: scale(1);
}

.card-footer {
    flex: 0 1 50%;
    padding: 2rem;
}

.card-footer h4 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.card-footer p:first-of-type {
    margin-bottom: 1rem;
}

.contact {
    padding: 2.5rem;
    margin: 2rem 2rem 0 2rem;
}

.contact h3 {
    color: var(--font-color);
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2rem;
    border-bottom: .1rem solid var(--color-secondary-light);
}

.contact a {
    color: var(--font-color);
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(.9);
    transition: transform .4s;
    
}

.contact a:hover {
    transform: scale(1);
}

.footer {
    width: 100%;
    height: 2rem;
    background-color: #cacc65;
    
}

.footer p {
    font-size: 1.2rem;
}

/* HELPER CLASSES */

.center {
    height: 100%;
    display: grid;
    place-items: center;
}

.line {
    border: .1rem solid var(--font-color);
}

i {
    font-size: 3rem;
    margin-right: 1rem;
}